<app-section-title title="Carrito de compra"></app-section-title>
<app-item-search (addItem)="addItemToCart($event)"></app-item-search>
<p-divider></p-divider>
<div
  *ngIf="cartItems.length > 0; else emptyCart"
  class="p-d-flex p-flex-column p-mb-4"
>
  <div class="grid">
    <div class="col-8">
      <div class="grid">
      <div class="col-5">Item</div>
      <div class="col-2 flex justify-content-center flex-wrap">Cantidad</div>
      <div class="col-2 flex justify-content-center flex-wrap">Precio</div>
      <div class="col-2 flex justify-content-center flex-wrap">Subtotal</div>
    </div>
    <p-divider></p-divider>
      <div *ngFor="let cartItem of cartItems" class="p-mb-3 col-12">
        <app-cart-item
          [item]="cartItem"
          (remove)="removeFromCart(cartItem)"
        ></app-cart-item>
      </div>
      <p-divider></p-divider>
      <p class="w-full">Hay {{ totalQuantity }} items en el carrito de compra.</p>
    </div>
    <div class="col-offset-1 col-3">
      <h4>Resumen</h4>
      <div class="grid">
        <div class="col-6">Total:</div>
        <div class="col-6 text-right">
          {{ total | currency }}
        </div>
      </div>
        <button
          pButton
          class="p-button-success w-full mt-5"
          label="Continuar con la compra"
          (click)="goToNextStep()"
        ></button>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <p>El carrito de compra está vacío.</p>
</ng-template>
