.login-container {
    margin: 3rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25rem;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }

  .p-password-panel {
    display: none !important;
  }

 button {
    width: 100%!important;
    display: block!important;
  }