<div class="grid">
    <div class="col-12">
    <app-section-title title="Gestión de libros"></app-section-title>
      <div class="grid">
        <div class="col-3">
          <a routerLink="/buscar-libro" class="link">
            <span class="pi pi-search icon"></span>
            Buscar libro
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/alta-libro" class="link">
            <span class="pi pi-plus icon"></span>
            Agregar un libro
          </a>
        </div>
      </div>
    </div>
  
    <div class="col-12">
      <app-section-title title="Gestión de catálogo"></app-section-title>
      <div class="grid">
        <div class="col-3">
          <a routerLink="/catalogo" class="link">
            <span class="pi pi-table icon"></span>
            Ver catálogo
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/actualizar-precios" class="link">
            <span class="pi pi-refresh icon"></span>
            Actualizar precios
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/exportar-catalogo" class="link">
            <span class="pi pi-download icon"></span>
            Exportar catálogo
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/importar-catalogo" class="link">
            <span class="pi pi-upload icon"></span>
            Importar catálogo desde Excel
          </a>
        </div>
      </div>
    </div>
  
    <div class="col-12">
        <app-section-title title="Gestión de ventas"></app-section-title>
      <div class="grid">
        <div class="col-3">
          <a routerLink="/registrar-venta" class="link">
            <span class="pi pi-check-circle icon"></span>
            Registrar venta
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/gestionar-pedido" class="link">
            <span class="pi pi-times-circle icon"></span>
            Gestionar pedido
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/historial" class="link">
            <span class="pi pi-bars icon"></span>
            Ver historial de ventas
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/exportar-reporte-ventas" class="link">
            <span class="pi pi-file-excel icon"></span>
            Exportar reporte de ventas
          </a>
        </div>
      </div>
    </div>
  
    <div class="col-12">
        <app-section-title title="Gestión de usuarios"></app-section-title>
      <div class="grid">
        <div class="col-3">
          <a routerLink="/crear-administrador" class="link">
            <span class="pi pi-user-plus icon"></span>
            Crear nuevo administrador
          </a>
        </div>
      </div>
    </div>
  </div>
  