.section {
    margin-bottom: 20px;
  }
  
  .column {
    text-align: left;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
  }
  
  .link {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 7px;
    transition: box-shadow 0.3s ease;
  }

  .link:hover {
    color: #494949;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f8f7f7;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
    background-color: #0a0a0a;
    padding: 7px;
    border-radius: 7px;
  }
  