<div *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!isLoading && book" class="grid mt-4">
    <div class="col-6">
        <p-carousel *ngIf="book && book.images" [value]="book.images">
            <ng-template let-image pTemplate="item">
                <p-image [src]="image.src" alt="Additional Image" class="carousel-image" width=100%></p-image>
            </ng-template>
        </p-carousel>
        <p-image></p-image>
    </div>
    <div class="col-6">
        <div class="right-content">
            <div class="book-title">
                <h2>{{ book.title }}</h2>
                <h5>{{ book.author }}</h5>
                <h3>${{ book.price }}<p-tag [value]="book.inventoryStatus" [severity]="getSeverity(book)"
                        class="ml-2"></p-tag></h3>
            </div>
            <div class="book-details">
                <p><b>ISBN:</b> {{ book.isbn }}</p>
                <p><b>Género:</b> {{ listGenres() }}</p>
                <p><b>Editorial:</b> {{ book.publisher }}</p>
                <p><b>Condición:</b> {{ book.isNew ? 'Nuevo' : 'Usado' }}</p>
            </div>
            <p-divider></p-divider>
            <p>{{ book.synopsis }}</p>
        </div>
        <div class="flex justify-content-evenly mt-4">
            <button pButton  class="p-button-outlined p-button-rounded" icon="pi pi-shopping-cart"
                (click)="addToCart()"></button>
        </div>
    </div>
</div>