.book-details p{
    margin:0;
}
.book-details {
    margin-top: 2rem;
}
.book-title h2, .book-title h3, .book-title h4 {
    margin: 0;
}

.book-title h4 {
    margin-top: -10px;
    font-weight: normal;
    font-style: italic;
    color: #494949
}

  