<div *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!isLoading && book" class="grid mt-4">
    <div class="col-6">
        <p-carousel *ngIf="book && book.images" [value]="book.images">
            <ng-template let-image pTemplate="item">
                <p-image [src]="image.src" alt="Additional Image" class="carousel-image" width=100%></p-image>
            </ng-template>
        </p-carousel>
        <p-image></p-image>
    </div>
    <div class="col-6">
        <div class="right-content">
            <div class="book-title">
                <h2>{{ book.title }}</h2>
                <h4>{{ book.author }}</h4>
                <h3>${{ book.price }}<p-tag [value]="book.inventoryStatus" [severity]="getSeverity(book)"
                        class="ml-2"></p-tag></h3>
            </div>
            <div class="book-details">
                <p><b>ISBN:</b> {{ book.isbn }}</p>
                <p><b>Género:</b> {{ listGenres() }}</p>
                <p><b>Editorial:</b> {{ book.publisher }}</p>
                <p><b>Condición:</b> {{ book.isNew ? 'New' : 'Used' }}</p>
            </div>
            <p-divider></p-divider>
            <p>{{ book.synopsis }}</p>
        </div>
        <div class="flex justify-content-evenly mt-4">
            <button pButton label="Add to Cart" class="add-to-cart-button" *ngIf="book.isActive"
                (click)="addToCart()"></button>
            <button pButton label="Editar" (click)="edit()"></button>
            <button pButton label="Dar de Baja" *ngIf="book.isActive" (click)="deactivate()"></button>
        </div>
    </div>
</div>