<div class="grid">
    <div class="col-8">
        <app-contact-details [contactDetails]="contactDetails" (formValidityChange)="onFormValidityChange($event)"></app-contact-details>
        <app-delivery-options (deliveryOptionChange)="onDeliveryOptionChange($event)"></app-delivery-options>
    </div>
    <div class="col-4">
        <app-order-summary></app-order-summary>
        <button pButton class="p-button-success w-full mt-5 gap-2" label="Confirmar" icon="pi pi-check"
                [loading]="isLoading" loadingIcon="pi pi-spin pi-spinner"(click)="placeOrder()" [disabled]="!isContactDetailsFormValid"></button>
    </div>
</div>