<div class="grid">
  <div class="col-1">
    <a (click)="goToBookDetail(item.book)">
      <div class="book-image">
        <p-image
          [src]="item.book.cover.src"
          alt="book.title"
          class="carousel-image"
          width="100%"
        ></p-image>
      </div>
    </a>
  </div>
  <div class="col-3">
    <div class="book-title"><strong>{{ item.book.title }}</strong></div>
    <div class="p-text-secondary">{{ item.book.author }}</div>
  </div>
  <div class="col-3 flex align-content-center flex-wrap">

        <p-inputNumber
          [(ngModel)]="item.quantity"
          inputId="minmax"
          mode="decimal"
          [min]="1"
          [max]="item.book.availableUnits"
          [showButtons]="true"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          spinnerMode="horizontal"
          [step]="1"
          buttonLayout="horizontal"
          (ngModelChange)="onQuantityChange()"
          class="input-styling"
        >
        </p-inputNumber>
      
    

    <div class="justify-content-center">
      <span class="avilable-stock"
        >{{ item.book.availableUnits }} unidades en stock</span
      >
    
  </div>
</div>
  <div class="col-2 flex justify-content-center flex-wrap">
    <span class="flex align-items-center justify-content-center">{{ item.book.price | currency }}</span>
  </div>
  <div class="col-2 flex justify-content-center flex-wrap">
    <span class="flex align-items-center justify-content-center">{{ getSubtotal() | currency }}</span>
  </div>
  <div class="col-1 flex align-content-center flex-wrap">
    <button
      (click)="remove.emit()"
      pButton
      type="button"
      icon="pi pi-trash"
      class="p-button-rounded p-button-danger"
    ></button>
  </div>
</div>