<div *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!isLoading && books" class="grid">
    <ng-container *ngFor="let book of books">
        <p-card class="col-2">
            <ng-template pTemplate="content">
                <div class="book-details">
                    <a [routerLink]="['/book-detail', book.id]">
                        <div class="book-image">
                            <p-image [src]="book.cover" alt="book.title" class="carousel-image" width="100%"></p-image>
                        </div>
                    </a>
                    <div class="book-info">
                        <div class="book-title"><strong>{{ book.title }}</strong></div>
                        <div>{{ book.author }}</div>
                        <div>{{ book.price | currency }}</div>
                    </div>
                    <div class="add-to-cart-button  mt-2">
                        <button pButton icon="pi pi-shopping-cart" (click)="addToCart(book)"
                            class="w-full p-button-outlined">Agregar al carrito</button>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </ng-container>
</div>